# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.week2-homework.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\qiuyu\Desktop\codelab\week2\week2-homework\.idea\.idea.week2-homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
